* {
    width: 100%;
    box-sizing: border-box;
    /* outline: 2px solid green; */
}

.container {
    margin: 0px auto;
    padding: 20px;
}

.header {
    background-color: lightgrey;
    height: 7vw;
    /* margin-bottom: 20px; */
}

.results {
    background-color: lightgrey;
    display: inline-block;
    height: 100%;
    margin-right: .8em;
    vertical-align: top;
    width: 20%;
}

.main-content {
    display: block;
    height: 48vw;
    margin: 0 auto;
    width: 90%;
}

img {
    border: 2px solid lightgrey;
}

/* everything in <main> is getting these: */
main section {
    display: inline-block;
    height: 45%;
    margin-right: 0.5em;
    width: 25%;
}

.section-paragraph {
    margin-left: 30%;
}

footer p {
    text-align: center;
}
