* {
    width: 100%;
    box-sizing: border-box;
    /* outline: 2px solid green; */
}

.container {
    margin: 0px auto;
    padding: 20px;
}

h1, p, nav {
    font-family: 'Ubuntu', sans-serif;
}

.header {
    background-color: lightgrey;
    height: 7vw;
    /* margin-bottom: 20px; */
}

.instructions {
    background-color: lightgrey;
    display: inline-block;
    height: 47%;
    margin-right: .8em;
    padding: 1em;
    vertical-align: top;
    width: 20%;
}

.main-content {
    display: block;
    height: 48vw;
    margin: 0 auto;
    width: 90%;
}

img {
    border: 2px solid lightgrey;
}

/* everything in <main> is getting these: */
.image-section {
    display: inline-block;
    height: 45%;
    margin-right: 0.5em;
    width: 25%;
}

.canvas {
    display: block;
    margin-top: 1em;
    font-size: 2vw;
}

footer p {
    text-align: center;
    margin-top: 12em;
    font-size: smaller;
}
