* {
    width: 100%;
    box-sizing: border-box;

    /* TODO: trying to debug why user can click on page and have clicks
    register when they do not click an image EXCEPT in certain areas */
    /* outline: 2px solid green; */
}

.container {
    margin: 0px auto;
    padding: 20px;
}

h1, p, nav {
    font-family: 'Ubuntu', sans-serif;
}

.header {
    font-weight: 600;
    font-size: xx-large;
    padding: 2%;
    text-align: center;
}

.instructions {
    background-color: rgb(175, 217, 245);
    display: inline-block;
    margin-right: .8em;
    padding: 1em;
    vertical-align: top;
    width: 20%;
}

.main-content {
    display: block;
    height: 21vw;
    margin: 0 auto;
    width: 90%;
}

img {
    border: 2px solid lightgrey;
}

.image-section {
    display: inline-block;
    height: 45%;
    margin-right: 0.5em;
    width: 25%;
}

.canvas {
    display: block;
    font-size: 2vw;
    margin: 10px auto;
}

footer p {
    font-size: smaller;
    margin-top: 20em;
    text-align: center;
}
